<div class="mineContent"></div>
<a href="#/"><div class="returnHome">
 <img src="images/home.png" id="Icon">
</div></a>
<div class="welcome">
        <div id="welcome">
            Welcome
        </div>
        <div class="Weltip">随时随地，让你畅享物流</div>
        <form method="post" class="loginForm" action="login.do" name="myForm" novalidate ng-controller="loginController" ng-submit="login()">
            <input type="text" id="userName" placeholder="请输入你的用户名" name="user" required ng-model="user" ng-pattern="/^[a-zA-Z][a-zA-z0-9]{3,6}$/"/>
            <span ng-show="myForm.user.$dirty && myForm.user.$invalid" class="myTips">
                <span ng-show="myForm.user.$error.required">用户名不能为空！</span>
                <span ng-show="myForm.user.$error.pattern" class="help-block">用户名4-7位，必须以字母开头</span>
 			</span>

            <input type="password" id="pwd" name="pwd" placeholder="请输入你的密码"ng-pattern="/^[a-zA-Z][a-zA-Z0-9]{5,12}$/" ng-model="pwd" required ng-minlength="6" required/>
            <span ng-show="myForm.pwd.$dirty && myForm.pwd.$invalid" class="myTip">
                    	<span ng-show="myForm.pwd.$error.required">密码不能为空！</span>
                    	<span ng-show="myForm.pwd.$error.minlength" class="help-block">密码太短</span>
				        <span ng-show="myForm.pwd.$error.maxlength" class="help-block">密码太长</span>
                        <span ng-show="myForm.pwd.$error.pattern" class="help-block">密码6-12位，必须以字母
                            开头</span>
            </span>
            <input type="submit" value="点击登录" id="dl" ng-disabled="myForm.user.$invalid || myForm.pwd.$invalid">
            <a href="#/register"><div class="register">没有账号</div></a>
        </form>


    </div>
<script>

</script>
<!--<script src="js/basicInfo.js"></script>-->
