<link rel="stylesheet" href="css/release.css"/>
<div class="releaseContent">
    <div class="releaseTitle">
        <a href="javascript:void(0)" onclick="history.back(-1)"><img src="images/returnBack.png"/></a>发布货源
    </div>
    <form action="releaseGoods.do" method="post">
        <div class="City">
            <div class="cityTitle">线路设置</div>
            <div id="startCity">*起始地<span>起始地</span></div>
            <div id="toCity">*目的地<span>目的地</span></div>
        </div>
        <div class="City">
            <div class="cityTitle">货物信息</div>
            <div id="time">发货日期</div>
            <div id="goodName">货物名称</div>
            <div id="goodWeight">货物重量</div>
            <div id="carType">*车型<span>-</span></div>
            <div id="carLong">*车长<span>-</span></div>
            <div id="coachType">*车厢类型<span>-</span></div>
        </div>
        <div class="City">
            <div class="cityTitle">联系方式</div>
            <div id="contactName">*联系人<span>三月三荷</span></div>
            <div id="contactTel">*联系电话<span>18852951167</span></div>
        </div>
        <input type="submit" value="确认发布" id="refb" />
    </form>
</div>